.title {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5%;
    background-color: #5C5054;
}

.title-text {
    margin-top: 0px;
    color: aliceblue;
}

.user-icon-title {
    width: 20px;
    height: 20px;
}

.user-icon {
    position: absolute;
    width: 20px;
    height: 20px;
}

.user-name {
    margin-left: 25px;
}

.message-table {
    max-height: 684px;
    overflow-y: auto;
    word-break: break-word;
}

.message-sender {
    width: 120px;
    background-color: #dff0d8;
}

.message-text-sender {
    width: auto;
    /*word-wrap: break-word;*/
    background-color: #dff0d8;
}

.message-receiver {
    width: 120px;
    background-color: #d9edf7;
}

.message-text-receiver {
    /*word-wrap: break-word;*/
    background-color: #d9edf7;
}

.message-date-seen {
    width: 100px;
    background-color: #f5f5f5;
}

.message-date-unseen {
    width: 100px;
    background-color: #fcf8e3
    /*background-color: #f2dede;*/
}

.new-message {
    float: right;
}

.new-message-background {
    background-color: #dff0d8;
}

.conversation-item {
    display: inline-flex;
    word-break: break-all;
}

.conversation-title {
    height: 43px;
}